<div>
    <div class="card">
        <div class="card-header">
            
                <div class="input-group">
                  <div class="input-group-prepend">
                    <div class="input-group-text">
                      <i class="fas fa-globe"></i>
                    </div>
                  </div>
                  <select class="form-control" name="pais" [(ngModel)]="pais" (change)="cargarData($event)">
                    <option [ngValue]="null" selected> Elige un Pais </option>
                    <option *ngFor="let pais of paises" [ngValue]="pais">{{pais}}</option>
                  </select>
                </div>
                <div class="card-body">
                    <canvas baseChart 
                        [data]="pieChartData" 
                        [labels]="pieChartLabels" 
                        [chartType]="pieChartType"
                        [options]="pieChartOptions"
                        [plugins]="pieChartPlugins"
                        [legend]="pieChartLegend"
                        [colors]="pieChartColors">
                </canvas>
                </div>
        </div>
    </div>
</div>